


.wrapper{
    display: flex;
    gap: 20px;

}



.card {
    display: flex; 
    flex-direction:column; 
    justify-content: space-between; 
    padding: 10px; 
    width: 200px; 
    
  }
  


.card>p:first-child{
    font-size: 30px;
    color:#D52027;
    font-weight: bold;
}
.card>p>p{
    color: #141024;
}